<div class="form" style="width: fit-content;">
  <div class="dx-fieldset">
      <div class="dx-field">
          <div class="dx-field-label" >Pazarte</div>
          <div class="dx-field-value" >
            <dx-select-box></dx-select-box>
          </div>
        </div>
        
        <div class="dx-field">
          <div class="dx-field-label" >Salı</div>
          <div class="dx-field-value" >
            <dx-select-box></dx-select-box>
          </div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label" >Çarşamba</div>
          <div class="dx-field-value" >
            <dx-select-box></dx-select-box>
          </div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label" >Perşembe</div>
          <div class="dx-field-value" >
            <dx-select-box></dx-select-box>
          </div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label" >Cuma</div>
          <div class="dx-field-value" >
            <dx-select-box></dx-select-box>
          </div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label" >Cumartesi</div>
          <div class="dx-field-value" >
            <dx-select-box></dx-select-box>
          </div>
        </div>

        <div class="dx-field">
          <div class="dx-field-label" >Pazar</div>
          <div class="dx-field-value" >
            <dx-select-box></dx-select-box>
          </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label" >Tarihinden</div>
            <div class="dx-field-value" >
                <dx-date-box
                    type="date"
                    [displayFormat]="'dd/MM/yyyy'"
                    focus="setFirstDay($event)"
                    >
                </dx-date-box>
            </div>
          </div>

          <div class="dx-field">
            <div class="dx-field-label" >Tarihine</div>
            <div class="dx-field-value" >
                <dx-date-box
                    type="date"
                    [displayFormat]="'dd/MM/yyyy'"
                    focus="setFirstDay($event)"
                    >
                </dx-date-box>
            </div>
          </div>



        <div class="dx-field">
          <dx-button style="float: right;" snhtylingMode="contained" type="normal" text="Kaydet" (onClick)="isPopupCreatingStaff = true"></dx-button>
        </div>
      
    </div>
  </div>
<router-outlet></router-outlet>