<div class="login-card">
  <img src="http://test.kerzzcloud.com/Container/images/LOGO.svg" width="250px">
  <br>
<form (submit)="onFormSubmit($event)">
  <input type="text" name="user" placeholder="{{ 'Kullanıcı İsim'}}" [(ngModel)]="user.userName">
  <input type="password" name="pass" placeholder="{{ 'Kullanıcı Şifre'}}" [(ngModel)]="user.password">
  <input type="submit" name="login" class="login login-submit" value="{{ 'Giriş'}}">
</form>
<div class="login-help">
  <a href="#">• Şifremi Unuttum • </a>
</div>
</div> 