

<div style="float: right;">
    
    <!-- <dx-popup 
          title="Personel Bilgilerini Düzelt"
          [(visible)]="isPopupCreatingStaff"
          fullScreen= "true"
          [showCloseButton]="true">
          <dx-scroll-view direction="both"> 
            <div id="content">
                <app-PDKSForm></app-PDKSForm>
            </div>
            </dx-scroll-view>
    </dx-popup>  -->
 <!-- <dx-button snhtylingMode="contained" id="button"   type="default" text="Personel Bilgilerini Düzelt"  (onClick)="isPopupCreatingStaff = true"></dx-button> -->
 <!-- <dx-button icon="save" text="Kaydet" type="default"  (onClick)='savePermisson()' style="margin: 5px;float: right;"> -->
<dx-popup 
    title="Ünvan Tanımlaması"
    [(visible)]="isPopupCreateTitle"
    fullScreen= "true"
    [showCloseButton]="true">
    <dx-scroll-view direction="both"> 
      <div id="content">
          <app-PDKSTitle></app-PDKSTitle>
      </div>
      </dx-scroll-view>
</dx-popup>  
 <dx-button stylingMode="contained" id="button" type="default" text="Ünvan Tanımlaması"  (onClick)="isPopupCreateTitle = true" ></dx-button>
 
 
    <dx-popup 
    title="İzin Tanımlaması"
    [(visible)]="isPopupCreatePermission"
    fullScreen= "true"
    [showCloseButton]="true">
    <dx-scroll-view direction="both"> 
      <div id="content">
          <app-PDKSCreatePermission></app-PDKSCreatePermission>
      </div>
      </dx-scroll-view>
</dx-popup>  
 <dx-button stylingMode="contained" id="button" type="default" text="İzin Tanımlaması"  (onClick)="isPopupCreatePermission = true" ></dx-button>
 
<dx-popup 
    title="Shift Tanımlaması"
    [(visible)]="isPopupShiftPlan"
    fullScreen= "true"
    [showCloseButton]="true">
    <dx-scroll-view direction="both"> 
      <div id="content">
          <app-PDKSTheShiftPlan></app-PDKSTheShiftPlan>
      </div>
      </dx-scroll-view>
</dx-popup> 
 <dx-button stylingMode="contained" id="button" type="default" text="Shift Tanımlaması"  (onClick)="isPopupShiftPlan = true"></dx-button>

 <dx-popup 
    title="Grup Çalışma Planı"
    [(visible)]="isPopupGroupWorkPlan"
    fullScreen= "true"
    [showCloseButton]="true">
    <dx-scroll-view direction="both"> 
      <div id="content">
          <app-PDKSGroupWorkPlan></app-PDKSGroupWorkPlan>
      </div>
      </dx-scroll-view>
</dx-popup> 
 <dx-button stylingMode="contained" id="button" type="default" text="Grup Çalışma Planı" (onClick)="isPopupGroupWorkPlan = true"></dx-button>

 <dx-popup 
 title="Personel Çalışma Planı"
 [(visible)]="isPopupUserPlan"
 fullScreen= "true"
 [showCloseButton]="true">
 <dx-scroll-view direction="both"> 
   <div id="content">
       <app-PDKSCreatingUserPlan  [(selectedData)]="selectedData" ></app-PDKSCreatingUserPlan>
   </div>
   </dx-scroll-view>
</dx-popup> 
 <dx-button stylingMode="contained" id="button" type="default" text="Personel Çalışma Planı" (onClick)="personelForWorkPlan($event)" color = "red"></dx-button>

 <dx-popup 
    title="Aylık Çizelge"
    [(visible)]="isPopupMonthlySchedule"
    fullScreen= "true"
    [showCloseButton]="true">
    <dx-scroll-view direction="both"> 
      <div id="content">
          <app-PDKSMontlySchedule [(isPopupMonthlySchedule)]="isPopupMonthlySchedule"></app-PDKSMontlySchedule>
      </div>
      </dx-scroll-view>
</dx-popup>  
 <dx-button stylingMode="contained" id="button" type="default" text="Aylık Çizelge" (onClick)="PopupMonthlySchedule($event)" ></dx-button>



 

 </div>
 


<div style="width: 100%;
margin-top: 100px;">
 <dx-data-grid 
    id="gridContainer"
    [dataSource]="staffList"
    [showBorders]="true"
    [allowColumnReordering]="true"
    [columnAutoWidth]="true"
    keyExpr="Kimlik"
    [rowAlternationEnabled]="true" 
    [showBorders]="true" 
    [focusedRowEnabled]="true" 
    [columnHidingEnabled]="true" 
    (onRowUpdated)="UpdateStaff($event)"
    (onSelectionChanged)="selectionChanged($event)"
    [selectedRowKeys]="[]">    

    <dxo-selection mode="single"></dxo-selection>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 40, 60, 80, 100]"></dxo-pager>
    <dxo-group-panel [visible]="false"></dxo-group-panel>
    <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
    <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="false"></dxo-editing>
    <dxo-filter-row [visible]="true" ></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true" [width]="240" placeholder="Arama..."></dxo-search-panel>
    <dxo-export [enabled]="true" fileName="Personel Listesi" [allowExportSelectedData]="true"></dxo-export>
    <dxi-column  caption="Personel Adı" [allowEditing]= "false"   dataField="PERSONEL_ADI"></dxi-column>
    <dxi-column caption="Şube Kodu" [allowEditing]= "false" dataField="SUBE_KODU"></dxi-column>
    <dxi-column caption="Ünvan Adı" dataField="UNVAN_ID">
        <dxo-lookup [dataSource]="getTitleEdit"  valueExpr="kimlik" displayExpr="UNVAN_ADI"></dxo-lookup>
    </dxi-column>
    <dxi-column caption="Grup Adı" dataField="GRUP_ID">
        <dxo-lookup [dataSource]="getGroupEdit"  valueExpr="kimlik" displayExpr="GRUP_ADI"></dxo-lookup>
    </dxi-column>


    <dxi-column caption="İşe Giriş" dataField="ISE_GIRIS" dataType="date" editorType="dxDateBox" [format]="{ type: 'dd.MM.yyyy' }" [editorOptions]="{ type: 'date', width: '100%', displayFormat : 'dd.MM.yyyy' , dateSerializationFormat: 'yyyy-MM-ddTHH:mm:ss' }"></dxi-column>
    <dxi-column caption="İşten Ayrılış" dataField="ISTEN_AYRILIS" dataType="date" [format]="{ type: 'dd.MM.yyyy' }" [editorOptions]="{type: 'date', width: '100%', displayFormat : 'dd.MM.yyyy' , dateSerializationFormat: 'yyyy-MM-ddTHH:mm:ss' }"></dxi-column>
    <dxi-column caption="Durum" dataField="AKTIF"></dxi-column>
    <dxi-column type="buttons" >
        <dxi-button name="edit" icon="edit"></dxi-button>
    </dxi-column>
</dx-data-grid>
</div>

<router-outlet></router-outlet>
