
  <dx-toolbar [items]="toolbarContent" style="/*position: fixed;*/  left: 0;  top: 0;  right: 0;  display: block;  z-index: 1; background-color: #d6d6d6!important;height: 55px;
  line-height: 2" >
 
  </dx-toolbar>
  <h5><label style="font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif; z-index: 1;position: fixed; right: initial; left: initial;top: 39px; right: 49px">
    {{time}} </label></h5>
  <dx-drawer style=" top:51px!important;margin-top: -14px;"  [openedStateMode]="selectedOpenMode"
                  [position]="selectedPosition"
                  [revealMode]="selectedRevealMode"
                  template="template"
                  [opened]="true"
                  [closeOnOutsideClick]="true"
                  [minSize]="12">
    <div *dxTemplate="let data of 'template'">
        <dx-tree-view class="panel-list dx-theme-accent-as-background-color"   
                      selectionMode="single"
                      id="simple-treeview"
                      [items]="navigation"
                      [width]="300"
                      [searchEnabled]="true"
                      searchMode="contains"
                      [searchEditorOptions]="{placeholder: 'Arama'}"
                      #treeview
                      (onItemClick)="selectItem($event)">

        </dx-tree-view>
        <dx-context-menu
        [dataSource]="itemsDemo"
        [width]="200"
        target="#simple-treeview"
        displayExpr="text"
        (onItemClick)="itemClick($event)">
      </dx-context-menu>
    </div>
    <div id="content" class="dx-theme-background-color">
        <div style="padding-left: 30px;">
         <label style="font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif; ">{{fullMenuItem}}</label>
         </div>
      <router-outlet></router-outlet></div>
  </dx-drawer>
