<dx-popup 
          title="Plan Oluştur"
          [(visible)]="isPopupCreatingGroupPlan"
          width= "fit-content"
          height="fit-content"
          [showCloseButton]="true">
          <dx-scroll-view direction="both"> 
            <div id="content">
                <app-PDKSCreatingGroupPlan></app-PDKSCreatingGroupPlan>
            </div>
            </dx-scroll-view>
    </dx-popup> 
 <!-- <dx-button snhtylingMode="contained" type="normal" text="Plan Oluştur" (onClick)="isPopupCreatingGroupPlan = true"></dx-button> -->




 <div id="form-container">
       
    <form action="your-action" style="margin-bottom: 5px;">
        <dx-form id="myForm" [formData]="groupForm" labelLocation="top">              
            
            <dxi-item dataField="groupName" editorType="dxTextBox">                    
                <dxi-validation-rule type="required" message="Grup Adı Boş Geçilemez."></dxi-validation-rule>
                <dxo-label text="Grup Adı"></dxo-label>  
            </dxi-item>        
            
        </dx-form>
    </form>

        <div id="myForm" style="right:43%;">
           <dx-button icon="save" text="Kaydet" type="default"  (onClick)='saveGroup()' style="margin: 5px;float: right;">
           </dx-button>                  
        </div>

</div>

  
<div style="width: 100%; margin-top: 100px;">
    
    <div style="text-align:center;">
        <h2 style="color: #494a49;"> Grup Listesi </h2>
        
    </div>
    <dx-data-grid 
        (onToolbarPreparing)="onToolbarPreparing($event)"
        (onRowUpdated)="Update($event)"
        (onRowRemoved)="Delete($event)"
        (onSelectionChanged)="selectionChanged($event)"
        [selectedRowKeys]="[]"
        id="gridContainer"
        [dataSource]="groupList"
        [showBorders]="true"
        [allowColumnReordering]="true"
        keyExpr="kimlik"
        [rowAlternationEnabled]="true" [showBorders]="true" [focusedRowEnabled]="true" [columnHidingEnabled]="true">    
        <dxo-selection mode="single"></dxo-selection>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 40, 60, 80, 100]"></dxo-pager>
        <!-- <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel> -->
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="false"></dxo-editing>
        <dxo-filter-row [visible]="true" ></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"  placeholder="Arama..."></dxo-search-panel>
        
        <dxo-export [enabled]="true" fileName="Grup Listesi" [allowExportSelectedData]="true"></dxo-export>
        <dxi-column caption="Grup Adı"  dataField="GRUP_ADI"></dxi-column>
        <dxi-column type="buttons" >
        <dxi-button name="edit" icon="edit"></dxi-button>
        <dxi-button name="delete" icon="remove"></dxi-button>
        </dxi-column>
    </dx-data-grid>
</div>

<div style="width: 100%; margin-top: 100px;">
    
    <div style="text-align:center;">
        <h2 style="color: #494a49;">Çalışma Planı</h2>
    </div>
    <dx-data-grid 
        (onToolbarPreparing)="onToolbarPreparing($event)"
        (onRowUpdated)="Update($event)"
        (onRowRemoved)="Delete($event)"
        id="gridContainer"
        [dataSource]="groupWorkList"
        [showBorders]="true"
        [allowColumnReordering]="true"
        keyExpr="kimlik"
        [rowAlternationEnabled]="true" [showBorders]="true" [focusedRowEnabled]="true" [columnHidingEnabled]="true" >    
        <dxo-selection mode="single"></dxo-selection>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 40, 60, 80, 100]"></dxo-pager>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="false"></dxo-editing>
        <dxo-filter-row [visible]="true" ></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"  placeholder="Arama..."></dxo-search-panel>
        
        <dxo-export [enabled]="true" fileName="Grup Çalışma Planı" [allowExportSelectedData]="true"></dxo-export>
              <dx-text-box  [readOnly]="true" [hoverStateEnabled]="false" value="Şube Bilgisi"></dx-text-box>
        <dxi-column  caption="Tarih"  dataField="TARIH" dataType="date" [format]="{ type: 'dd.MM.yyyy' }" [editorOptions]="{  readOnly : 'true' }"></dxi-column>
        <dxi-column  caption="Gün"  dataField="GUN_ADI" ></dxi-column>
        <dxi-column caption="Plan"  dataField="PLAN_TIPI" ></dxi-column>
        <dxi-column type="buttons" >
        <dxi-button name="edit" icon="edit"></dxi-button>
        <dxi-button name="delete" icon="remove"></dxi-button>
        </dxi-column>
    </dx-data-grid>
</div>



<router-outlet></router-outlet>